.collapse {
	visibility: visible !important;
}

.btn-info {
	color: white;
	background-color: #7C4DFF !important;
	border-color: #7C4DFF !important;
}

.ip-add-ui {
	width: 100%;
	background-color: #7C4DFF !important;
	text-align: center;
	color: white;
}
