<div class="page-header ip-header">
    <nav class="navbar navbar-default ip-header">
        {{ uiTexts.header}}

       <div class="header-right pull-right">
          <ul class="list-inline justify-content-end">
               <li class="list-inline-item dropdown min-w-[100px]">
                  <a class="text-muted" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="select-profile mr-2">{{ user?.first_name }} {{ user?.last_name }}</span>
                  </a>
                  <ul class="dropdown-menu profile-dropdown shadow-2">
                     <li>
                        <button (click)="logout()"><i class="fa fa-sign-out"></i><span>{{uiTexts.logout}}</span></button>
                     </li>
                  </ul>
               </li>
          </ul>
       </div>
    </nav>
</div>
