<div class="page-header">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand">
                <ul class="list-inline">
                    <li class="list-inline-item hover:text-black">
                        <button type="button">
                            Nav 1
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-right flex justify-end items-center">
            <ul class="list-inline">
                <li class="list-inline-item dropdown min-w-[100px]">
                    <a class="text-muted" href="javascript:void(0)" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span [innerHTML]="uiTexts.greeting + ' {{ user?.name }}!'" class="mr-2"></span>
                    </a>
                    <ul class="dropdown-menu profile-dropdown shadow-2">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <button (click)="logout()">
                                <i class="fa fa-sign-out"></i>
                                <span>{{ uiTexts.logout }}</span>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
