<div class="row clearfix">
	<div class="col-md-12 col-lg-12 col-xl-12">
		<div class="card mg-y-10 shadow-1">
			<div class="card-header audit-trail-table">
				<h4 class="card-header-title">{{ textLabels.pageTitle }}</h4>
			</div>

			<div class="card-body collapse show">
				<ng-container *ngIf="isLoading === false; else loading">
				<ng-container *ngIf="(auditLogList?.data?.total || 0) > 0; else noAuditLogs">
					<table class="table-auto w-full">
					<thead>
						<tr>
						<th class="px-4 py-2">Serial</th>
						<th class="px-4 py-2">Action</th>
						<th class="px-4 py-2">Old Data</th>
						<th class="px-4 py-2">New Data</th>
						<th class="px-4 py-2">Username</th>
						<th class="px-4 py-2">Time</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let log of auditLogList?.data?.data; let i = index">
						<td class="border px-4 py-2">{{ i + 1 }}</td>
						<td class="border px-4 py-2">
							<span>{{ log.action?.toUpperCase()  }}</span>
						</td>
						<td class="border px-4 py-2">
							<span>{{ log.old_data || "-" }}</span>
						</td>
						<td class="border px-4 py-2">
							<span> {{ log.new_data }}</span>
						</td>
						<td class="border px-4 py-2">
							<span class="text-dark"> {{ log.user?.first_name }} {{ log.user?.last_name }}</span>
						</td>
						<td class="border px-4 py-2">
							{{ log.created_at | date: 'MMM d, y, h:mm:ss a' }}
						</td>
						</tr>
					</tbody>
					</table>

					<app-pagination
					[baseUrl]="'/'"
					[currentPageIndex]="auditLogList?.data?.current_page"
					[lastPageIndex]="auditLogList?.data?.last_page"
					[pageLinks]="auditLogList?.data?.links"
					></app-pagination>
				</ng-container>

				<ng-template #noAuditLogs>
					<div class="text-left">
					<p class="text-base text-red-800">{{ textLabels.noAuditLogs }}</p>
					</div>
				</ng-template>
				</ng-container>

				<ng-template #loading>
				<div class="text-center">
					<p class="text-3xl">{{ textLabels.pleaseWait }}</p>
					<p><i class="fa fa-circle-o-notch fa-spin text-3xl"></i></p>
				</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
