<div class="row clearfix">
    <div class="col-md-8 offset-md-2">
        <div
            class="px-4 py-3 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
            *ngIf="errors && errors?.message">
            {{ errors.message }}
        </div>
		<ng-container *ngIf="errors && errors?.message">
			<app-form-error *ngIf="errors && errors?.message" message="{{ errors.message }}"></app-form-error>
		</ng-container>

        <div class="card mb-4 shadow-1">
            <div class="card-header ip-add-ui">
                <h4 class="card-header-title">
                    {{ labels.title}}
                </h4>
            </div>
            <div class="card-body collapse show">
                <form [formGroup]="form" class="row" (submit)="handleSubmit()">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="ip">{{ labels.ipLabel}}</label>
                            <input
                                type="text"
                                formControlName="ip"
                                id="ip"
                                class="form-control"
                                placeholder="IP4 or IP6 Address"
                                autocomplete="off"
                            />
                            <ng-container *ngIf="form.get('ip')?.errors && (form.get('ip')?.touched || form.get('ip')?.dirty)">
                                <app-form-error *ngIf="form.get('ip')?.errors" message="{{errorLables.ipReq}}"></app-form-error>
                                <app-form-error *ngIf="form.get('ip')?.errors" message="{{errorLables.ipInvalid}}"></app-form-error>
                            </ng-container>

                            <app-form-error *ngIf="errors && errors?.message" [message]="errors.message || ''"></app-form-error>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="label">{{ labels.labelLabel}}</label>
                            <input
                                type="text"
                                formControlName="label"
                                id="label"
                                class="form-control"
                                autocomplete="off"
                                placeholder="aws.us-east-1a"
                            />
                            <ng-container *ngIf="form.get('label')?.errors && (form.get('label')?.touched || form.get('label')?.dirty)">
                                <app-form-error *ngIf="form.get('label')?.errors" message="{{errorLables.labelReq}}"></app-form-error>
                            </ng-container>

                            <app-form-error *ngIf="errors && errors?.messages?.label" [message]="errors.message || ''"></app-form-error>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-info" [disabled]="form.invalid || submitting">{{labels.savelLabel}}<i class="fa fa-circle-o-notch fa-spin" *ngIf="submitting"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
