<div class="pageheader pd-y-25">
    <div class="pd-t-5 pd-b-5">
        <div class="flex justify-between">
            <h1 class="pd-0 mg-0 tx-20 text-overflow">IP Addresses</h1>
            <button class="btn btn-info" type="button" (click)="goToNewIpList()">Manage IPs</button>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-6 offset-md-3">

        <div
            class="px-4 py-3 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
            *ngIf="errors && errors?.message"
        >
            {{ errors.message }}
        </div>

        <!--================================-->
        <!-- IP Addresses Start -->
        <!--================================-->
        <div class="card mb-4 shadow-1">
            <div class="card-header">
                <h4 class="card-header-title">
                    Create New IP
                </h4>
            </div>
            <div class="card-body collapse show">
                <form [formGroup]="form" class="row" (submit)="handleSubmit()">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="ip_address">IP Address</label>
                            <input
                                type="text"
                                formControlName="ip_address"
                                id="ip_address"
                                class="form-control"
                                placeholder="IP Address, e.g: 202.92.249.111"
                                autocomplete="off"
                            />
                            <ng-container *ngIf="form.get('ip_address')?.errors && (form.get('ip_address')?.touched || form.get('ip_address')?.dirty)">
                                <app-form-error *ngIf="form.get('ip_address')?.errors" message="IP Address is required."></app-form-error>
                                <app-form-error *ngIf="form.get('ip_address')?.errors" message="IP Address is invalid."></app-form-error>
                            </ng-container>

                            <app-form-error *ngIf="errors && errors?.messages?.ip_address" [message]="errors.message || ''"></app-form-error>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="label">Comment / Label</label>
                            <input
                                type="text"
                                formControlName="label"
                                id="label"
                                class="form-control"
                                autocomplete="off"
                                placeholder="Label, e.g.: Spare or BFBC2 Server"
                            />
                            <ng-container *ngIf="form.get('label')?.errors && (form.get('label')?.touched || form.get('label')?.dirty)">
                                <app-form-error *ngIf="form.get('label')?.errors" message="Label is required."></app-form-error>
                            </ng-container>

                            <app-form-error *ngIf="errors && errors?.messages?.label" [message]="errors.message || ''"></app-form-error>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-info" [disabled]="form.invalid || submitting">Save <i class="fa fa-circle-o-notch fa-spin" *ngIf="submitting"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
