<div class="flex items-center justify-center min-h-screen bg-gray-100">
	<mat-card class="w-96 p-6">
		<form [formGroup]="form" (ngSubmit)="processFormSubmit()">
			<h2 class="text-2xl font-semibold mb-4">
				{{ pageContent.signInTitle }}
			</h2>

			<mat-form-field class="w-full">
				<mat-label>{{ pageContent.emailLabel }}</mat-label>
				<input
					matInput
					formControlName="email"
					placeholder="Enter your email"
					required
				/>
				<mat-error *ngIf="form.get('email')?.hasError('email')">
				{{ pageContent.emailInvalidMessage}}
				</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full mt-4">
				<mat-label>{{ pageContent.passwordLabel }}</mat-label>
				<input
					matInput
					formControlName="password"
					type="password"
					placeholder="Enter your password"
					required
				/>
				<mat-error *ngIf="form.get('password')?.hasError('required')">{{
					pageContent.passwordRequiredMessage
				}}</mat-error>
			</mat-form-field>

			<div class="flex justify-between items-center mt-4">
				<button mat-raised-button color="primary" type="submit">
					{{ pageContent.signInButtonText }}
				</button>
				<div class="flex items-center">
					<a class="text-blue-500" href="/forgot-password">{{
						pageContent.forgotPasswordLink
					}}</a>
					<span class="mx-2 text-gray-500">|</span>
					<a class="text-blue-500" href="/register">{{
						pageContent.signUpLink
					}}</a>
				</div>
			</div>

			<div *ngIf="triedSubmission && hasError" class="text-red-500 mt-4">
				{{ errors.message }}
			</div>
		</form>
	</mat-card>
</div>
