<div class="pageheader pd-y-25">
    <div class="pd-t-5 pd-b-5">
        <div class="flex justify-between">
            <button mat-raised-button color="primary" type="button" (click)="createIpFormView()">
                {{ buttons.addNewIp }}
            </button>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <mat-card class="mb-4 shadow-1">
			<div class="card-header ip-list-table">
				<h4 class="card-header-title">{{ titles.cardTitles }}</h4>
			</div>

            <div class="mat-card-body collapse show">
                <ng-container *ngIf="isLoading === false; else loading">
                    <div class="data-wrapper" *ngIf="(ipAddressList?.data?.total || 0) > 0; else noIpAddressFoundBlock">
                        <table class="table-auto w-full">
                            <thead>
                                <tr>
                                    <th class="px-4 py-2">ID</th>
                                    <th class="px-4 py-2">IP Address</th>
                                    <th class="px-4 py-2">Label</th>
                                    <th class="px-4 py-2">Created At</th>
                                    <th class="px-4 py-2">Updated At</th>
                                    <th class="px-4 py-2">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let ip of ipAddressList?.data?.data">
                                    <td class="border px-4 py-2">{{ ip.id }}</td>
                                    <td class="border px-4 py-2">{{ ip.ip }}</td>
                                    <td class="border px-4 py-2">{{ ip.label }}</td>
                                    <td class="border px-4 py-2">{{ ip.created_at }}</td>
                                    <td class="border px-4 py-2">{{ ip.updated_at }}</td>
                                    <td class="border px-4 py-2">
                                        <a [routerLink]="['/ip-handler/edit', ip.id]" (click)="setSelectedIp(ip)"
                                            mat-raised-button color="primary">
                                            {{ buttons.edit }} <mat-icon>edit</mat-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <app-pagination
                            [baseUrl]="'/ip-handler'"
                            [currentPageIndex]="ipAddressList?.data?.current_page"
                            [lastPageIndex]="ipAddressList?.data?.last_page"
                            [pageLinks]="ipAddressList?.data?.links"
                        ></app-pagination>
                    </div>

                    <ng-template #noIpAddressFoundBlock>
                        <div class="text-left">
                            <p class="text-base text-red-800">{{ messages.noIpFound }}</p>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-template #loading>
                    <div class="text-center">
                        <p class="text-3xl">{{ messages.pleaseWait }}</p>
                        <p><mat-spinner diameter="32"></mat-spinner></p>
                    </div>
                </ng-template>
            </div>
        </mat-card>
    </div>
</div>
