<div class="pageheader pd-y-25">
    <div class="pd-t-5 pd-b-5">
        <div class="flex justify-between">
            <h1 class="pd-0 mg-0 tx-20 text-overflow">{{ titles.pageTitles }}</h1>
            <button class="btn btn-info" type="button" (click)="createIpFormView()">
                {{ buttons.addNewIp }}
            </button>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-4 shadow-1">
            <div class="card-header">
                <h4 class="card-header-title">{{ titles.cardTitles }}</h4>
            </div>
            <div class="card-body collapse show">
                <ng-container *ngIf="isLoading === false; else loading">
                    <div class="data-wrapper" *ngIf="(ipAddressList?.total || 0) > 0; else noIpAddressFoundBlock">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>IP Address</th>
                                    <th>Label</th>
                                    <th>Date Created</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let ip of ipAddressList?.data">
                                    <td>{{ ip.id }}</td>
                                    <td>{{ ip.ip }}</td>
                                    <td>{{ ip.label }}</td>
                                    <td>{{ ip.created_at }}</td>
                                    <td>{{ ip.updated_at }}</td>
                                    <td>
                                        <a [routerLink]="['/ip-handler/edit', ip.id]" (click)="setSelectedIp(ip)" class="btn btn-info">
                                            {{ buttons.edit }} <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <app-pagination
                            [baseUrl]="'/ip-handler'"
                            [currentPageIndex]="ipAddressList?.current_page"
                            [lastPageIndex]="ipAddressList?.last_page"
                            [pageLinks]="ipAddressList?.links"
                        ></app-pagination>
                    </div>

                    <ng-template #noIpAddressFoundBlock>
                        <div class="text-left">
                            <p class="text-base text-red-800">{{ messages.noIpFound }}</p>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-template #loading>
                    <div class="text-center">
                        <p class="text-3xl">{{ messages.pleaseWait }}</p>
                        <p><i class="fa fa-circle-o-notch fa-spin text-3xl"></i></p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
