.collapse {
	visibility: visible !important;
}
.dataTables_wrapper .dataTables_length {
	float: left;
}
.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}
.btn-info {
	color: #fff;
	background-color: #17a2b8 !important;
	border-color: #17a2b8 !important;
}
